<nav aria-label="Page navigation example" *ngIf="totalPages > 1">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{ disabled: pageNumber === 1 }">
      <a class="page-link" (click)="onPagerChange(pageNumber - 1)">Previous</a>
    </li>
    <li
      class="page-item"
      [ngClass]="{ active: item === pageNumber }"
      *ngFor="let item of getArrayData()"
    >
      <a class="page-link" (click)="onPagerChange(item)">
        {{ item }}
      </a>
    </li>
    <li class="page-item" [ngClass]="{ disabled: pageNumber === totalPages }">
      <a class="page-link" (click)="onPagerChange(pageNumber + 1)">Next</a>
    </li>
  </ul>
</nav>
