<div
  class="nav d-flex flex-column flex-md-row align-items-center justify-content-between mb-3 bg-white border-bottom shadow-sm">
  <h3 class="logo" [routerLink]="['/']">Simple Shop</h3>
  <div class="d-flex align-items-center">
    <!-- Auth -->
    <ng-container *ngIf="!(currentUser$ | async)">
      <a [routerLink]="login" class="btn btn-outline-secondary mr-2">Login</a>
      <a [routerLink]="register" class="btn btn-outline-secondary mr-3">Sign up</a>
    </ng-container>
    <!-- Auths -->
    <!-- Dropdown -->
    <div class="dropdown" *ngIf="currentUser$ | async">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Welcome back, {{ (currentUser$ | async).displayName | titlecase }} !
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" [routerLink]="checkout"><i class="fas fa-shopping-cart"></i> Cart ({{
            (basket$ | async)?.totalItems || 0
          }})
        </a>
        <a class="dropdown-item" [routerLink]="order"><i class="fas fa-archive"></i> Orders</a>
        <a class="dropdown-item" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </div>
    </div>
    <!-- Dropdown -->
  </div>
</div>
