<div class="card h-100 shadow-sm">
  <div class="image position-relative" style="cursor: pointer;">
    <img
      [src]="product.pictureUrl || 'assets/images/default.png'"
      alt="{{ product.name }}"
      class="img-fluid bg-info"
    />
  </div>
  <div class="card-body d-flex flex-column">
    <a [routerLink]="shop + product.id">
      <h6 class="text-uppercase">
        {{ product.name | slice: 0:20 }}
        <span *ngIf="product.name.length < 20">...</span>
      </h6>
    </a>
    <span class="mb-2">{{ product.price | currency }}</span>
    <button
      *ngIf="!isContains"
      (click)="addItemToBasket(product.id)"
      type="button"
      class="btn btn-warning"
    >
      Add to Cart
    </button>
    <button
      *ngIf="isContains"
      (click)="removeItemFromBasket(product.id)"
      type="button"
      class="btn btn-danger"
    >
      Remove from Cart
    </button>
  </div>
</div>
