<!-- Cart -->
<div *ngIf="basket$ | async">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
    <span class="badge badge-secondary badge-pill">{{
      (basket$ | async).totalItems
    }}</span>
  </h4>
  <ul class="list-group mb-3">
    <li
      class="list-group-item d-flex justify-content-between lh-condensed"
      *ngFor="let item of (basket$ | async).cart"
    >
      <div>
        <h6 class="my-0" [routerLink]="'/shop/' + item.productId">
          {{ item.productName }}
        </h6>
        <small class="text-muted">x{{ item.quantity }}</small>
      </div>
      <span class="text-muted"
        >${{ item.price }}
        <i class="fas fa-trash-alt" (click)="deleteBusket(item.productId)"></i
      ></span>
    </li>
    <li class="list-group-item d-flex justify-content-between">
      <span>Total (CAD)</span>
      <strong>${{ (basket$ | async).total }}</strong>
    </li>
  </ul>
</div>
<!-- Cart -->
